[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-json-logger = "*"
pycrypto = "*"
confuse = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"